html {
    font-size: 16px;
}

body {
    margin: 1em;
    text-align: center;
    color: #360;
}

section {
    min-width: 900px;
    font-family: Courier
}

article {
    width:50em;
    text-align: center;
    margin: 1em auto;
}

button {
    width:210px;
    height:210px;
    margin:1em;
    padding: 0;
}

.monkey {
    width: 210px;
    height: 210px;
    background-color: #630;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../media/img/empty.png);
    margin: 10px;
    padding:0;
    float:left;

}
#message{
  background-color:green;
  color:black;


}

#monkey{
  height:500px;
  width:500px;
  margin:0 auto;
}

aside {
    line-height: 150%;
    text-align: left;
}
