body {
 /* font-family: 'Roboto', sans-serif;*/
    font-family: 'Pacifico', cursive;
    background-color: crimson;
    background-image: url("../media/img/1.gif");
     text-align: center;
    color:white;
<<<<<<< HEAD

=======

>>>>>>> test/master
}

p {
    text-align: justify;
}
ul,ol {
    text-align:left;
}

a {
    text-decoration: none;
    color:black;
}
a:hover{
    color:#00B241;
<<<<<<< HEAD
}
=======
}
>>>>>>> test/master
