body {
 /* font-family: 'Roboto', sans-serif;
    font-family: 'Pacifico', cursive; */
    font-family: 'Dosis', sans-serif;
    background-color:darkgreen;
<<<<<<< HEAD


=======


>>>>>>> test/master
     text-align: center;
    color:black;
    padding-left: 20px;
    padding-right: 20px;
<<<<<<< HEAD

=======

>>>>>>> test/master
}
header{
    background-image: url("../media/img/banner.jpg");
    background-repeat:no-repeat;
    background-position: center top;
    min-height: 185px;
    max-height: 185px;
<<<<<<< HEAD


=======


>>>>>>> test/master
}

main{
    text-align: justify
}
img{
    max-width:50%;
}

p {
    text-align: justify;
}
ul,ol {
    text-align:left;
}

a {
    text-decoration: none;
    color:black;
}
a:hover{
    color:white;
<<<<<<< HEAD
}
=======
}
>>>>>>> test/master
