body{
  background-color:#A5E8CC;
  text-align:center;

}
#form{
  border: 5px solid black;
  background: #9C5B50;
  height: 500px;
  width: 500px;
  margin: auto;
  color:white;
}


input{
  margin: auto;

}
#bu{
  background-color: #5F9C82; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
