p {
    text-align: center;
}
li {
     float:center;
 }
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
ul,ol {
    background-color: #99655F;
    list-style-type: none;
    overflow:hidden;
    margin: 0;
     padding: 0;
}
h2{
    text-align:justify;
}

a {
    text-decoration: none;
    color:black;
    font-size:18px;
}
a:hover{
    color:#99655F;
}

body {
    font-family: 'Dosis', sans-serif;
<<<<<<< HEAD

    background-color: #4A6566;
     text-align: center;
    color:white;
}
=======

    background-color: #4A6566;
     text-align: center;
    color:white;
}
>>>>>>> test/master
